<div class="container">
  <div class="row">

    <div class="login-absolute-center-large panel panel-body">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <form name="registerForm" novalidate>
          <h1>Registro do Sistema</h1>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
            <input class="form-control" ng-model="$ctrl.name" type="text" name='name' placeholder="Nome do usuário" required/>
          </div>
          
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="form-control" ng-model="$ctrl.email" type="email" name='email' placeholder="Email do usuário" required/>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="form-control" ng-model="$ctrl.email2" type="email" name='email2' tt-field-check-equal="email" placeholder="Confirmação de email do usuário" required/>
          </div>

          <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" ng-model="$ctrl.password" type="password" name='password' tt-password-check-good placeholder="Senha do usuário" required/>
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" ng-model="$ctrl.password2" type="password" name='password2' tt-field-check-equal="password" placeholder="Confirmação de senha do usuário" required/>
              </div>
  
  
          <div class="form-group text-center">
            <button ng-disabled="registerForm.$invalid" type="button" class="btn btn-primary" ng-click="$ctrl.register()">Cadastrar</button>
            <button type="button" class="btn btn-default" ui-sref="public.login">Cancelar</button>
          </div>

          <div>
            <div ng-if="registerForm.name.$error.required && registerForm.name.$touched" class="alert alert-warning">Nome é obrigatório!</div>
            <div ng-if="registerForm.email.$error.email && registerForm.email.$touched" class="alert alert-warning">Email de entrada inválido!</div>
            <div ng-if="registerForm.email.$error.required && registerForm.email.$touched" class="alert alert-warning">Email de entrada é obrigatório!</div>
            <div ng-if="registerForm.email2.$error.required && registerForm.email2.$touched" class="alert alert-warning">Confirmação de email de entrada é obrigatório!</div>
            <div ng-if="registerForm.password.$error.ttpasswordcheckgood && registerForm.password.$touched" class="alert alert-warning">Senha deve ter oito caracteres com números e maiúsculas</div>
            <div ng-if="registerForm.password2.$error.ttfieldcheckequal && registerForm.password2.$touched" class="alert alert-warning">Senha e confirmação diferem!</div>
            <div ng-if="registerForm.email2.$error.ttfieldcheckequal && registerForm.email2.$touched" class="alert alert-warning">Email e confirmação diferem!</div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
