<form name="skillForm" novalidate>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <h3 class="tt-subtitle-table-style"><label class="tt-style-label" for="search">Lista de competências:</label></h3>

        <div class="checkbox">
          <label><input ng-model="$ctrl.showNew" type="checkbox" ng-click="$ctrl.updateFilter()">Ver novos</input></label>
        </div>
    
        <div class="form-group input-group" style="width: 100%">
          <tags-input class="tt-bootstrap" ng-model="$ctrl.skills" add-on-paste="true" display-property="_name" add-from-autocomplete-only="true"
            replace-spaces-with-dashes="false" placeholder="Escreva as competências a serem visualizadas..." on-tag-removed="$ctrl.update()" on-tag-added="$ctrl.update()">
            <auto-complete source="$ctrl.loadSkills($query)" min-length="0" debounce-delay="0"></auto-complete>
          </tags-input>
        </div>
      </div>

      
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12">
        <tt-skill-table></tt-skill-table>
      </div>
    </div>

  </div>
</form>
