<header>
  <nav id="header-nav" class="navbar navbar-default tt-navbar">
    <div class="container-fluid">

      <div class="navbar-header">

        <a href="http://www.tecgraf.puc-rio.br/" target="_blank" class="navbar-brand">
            <div class="tecgraf-logo-img hidden-xs" alt="Tecgraf PUC-Rio">
             <img src="assets/images/tecgraf-50-50.png" class="img-responsive"></img>
            </div>
             <div class="tecgraf-logo-img-mini visible-xs" alt="Tecgraf PUC-Rio">
                <img src="assets/images/tecgraf-50-50.png" class="img-responsive"></img>
             </div>
        </a>

        <button id="navbarToggle" type="button" class="navbar-toggle collapsed"
          ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>

      <div uib-collapse="$ctrl.isNavCollapsed" class="collapse navbar-collapse " >
        <ul class="nav navbar-nav navbar-left ">
          <li  ui-sref-active="active">
            <a ui-sref="private.profile.view ">
               <span class="fa fa-user"></span><br class="hidden-xs ">Meu Perfil</a>
          </li>
          <li ui-sref-active="active">
             <a ui-sref="private.search.view">
               <span class="fa fa-search "></span><br class="hidden-xs">Busca</a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="private.global.view">
                <span class="fa fa-globe"></span><br class="hidden-xs">Visão Global</a>
           </li>
          <li ui-sref-active="active">
             <a ui-sref="private.skill.view">
                <span class="fa fa-trophy"></span><br class="hidden-xs">Competências</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs">
            <div tt-avatar margin-top='15px' name='{{$ctrl.user.getName()}}'></div>
          </li>
          <li ui-sref-active="active">
             <a ui-sref="public.login">
               <span class="fa fa-sign-out"></span><br class="hidden-xs">Sair</a>
          </li>
        </ul>

        <!-- #nav-list -->
      </div>
      <!-- .collapse .navbar-collapse -->
    </div>
    <!-- .container -->
  </nav>
  <!-- #header-nav -->
</header>
