<div class="panel panel-primary">
  <div class="panel-heading">  <h1> Adição de Experiência</h1> </div>

  <div class="panel panel-body">
    <form class="form-horizontal" name="newExperienceForm" novalidate>

      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-tag"></i></span>
          <input ng-model="$ctrl.title" type="text" class="form-control" name="title" placeholder="Título" required>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-gear"></i></span>
          <ui-select class="" ng-model="$ctrl.project" name="project">
            <ui-select-match placeholder="Projeto">{{$select.selected.getName()}}</ui-select-match>
            <ui-select-choices repeat="p in $ctrl.projects | filter: { '_name' : $select.search }">
              <span ng-bind-html="p.getName() | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>

        <h2>Competências &nbsp;<span class="fa fa-plus-circle" ng-click="$ctrl.addNewSkill()"></span></h2>
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-trophy"></i></span>
          <div id="skills-grid" ui-grid="$ctrl.gridData" ui-grid-resize-columns class="grid"></div>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <div class="">
            <div class="col-xs-6">
              <label for="start" class="col-xs-12">Início:</label>
              <div class="col-xs-12">
                <div uib-datepicker ng-model="$ctrl.startDate" datepicker-popup="MM/yyyy" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"
                  id="start"></div>
              </div>
            </div>
            <div class="col-xs-6">
              <label for="end" class="col-xs-12">Término:</label>
              <div class="col-xs-12">
                <div uib-datepicker ng-model="$ctrl.endDate" datepicker-popup="MM/yyyy" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"
                  id="end"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-bars"></i></span>
          <textarea ng-model="$ctrl.description" class="form-control col-xs-12" id="description" placeholder="Descrição resumida da experiência"></textarea>
        </div>
        
        <hr>

        <div>
          <button type="button" class="btn btn-default" ui-sref="private.profile.view">Cancelar</button>
          <button ng-disabled="newExperienceForm.$invalid" type="button" class="btn btn-primary" ng-click="$ctrl.addExperience()">Adicionar</button>
        </div>
        
        <!-- TODO: Tirar essa margem -->
        <div style="margin-top: 20px;">
            <div ng-if="newExperienceForm.title.$error.required && newExperienceForm.title.$touched" class="alert alert-warning">Título é obrigatório</div>
        </div>
      </div>


    </form>
  </div>
</div>
