<form class="form-horizontal" name="newExperienceForm" novalidate>

  <div class="form-group">
    <label for="title" class="col-sm-1">Título:</label>
    <div class="col-sm-11">
      <input ng-model="$ctrl.title" type="text" class="form-control" name="title" required>
    </div>
    <span ng-if="newExperienceForm.title.$error.required && newExperienceForm.title.$touched">Campo obrigatório</span>
  </div>

  <div class="form-group">
    <label for="project" class="col-sm-1">Projeto:</label>
    <div class="col-sm-11">
      <ui-select ng-model="$ctrl.project" name="project">
        <ui-select-match placeholder="Escolha um projeto...">{{$select.selected.getName()}}</ui-select-match>
        <ui-select-choices repeat="p in $ctrl.projects | filter: { '_name' : $select.search }">
          <span ng-bind-html="p.getName() | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group">
    <label for="start" class="col-sm-1">Início:</label>
    <div class="col-sm-5">
      <div uib-datepicker ng-model="$ctrl.startDate" class="well well-sm" datepicker-options="options" id="start"></div>
    </div>
    <label for="end" class="col-sm-1">Fim:</label>
    <div class="col-sm-5">
      <div uib-datepicker ng-model="$ctrl.endDate" class="well well-sm" datepicker-options="options" id="end"></div>
    </div>

  </div>

  <div class="form-group">
    <label for="description" class="col-sm-1">Descrição:</label>
    <div class="col-sm-11">
      <textarea ng-model="$ctrl.description" class="form-control" id="description"></textarea>
    </div>
  </div>

</form>
