<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
  <input class="form-control" id="oldPassword" ng-model="$ctrl.oldPassword" type="password" name='oldPassword' placeholder="Senha atual"
    required/>
</div>

<hr>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
  <input class="form-control" id="newPassword1" ng-model="$ctrl.newPassword1" type="password" name='newPassword1' tt-password-check-good
    placeholder="Nova senha" required/>
</div>

<div class="form-group input-group">
  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
  <input class="form-control" id="newPassword2" ng-model="$ctrl.password2" type="password" name='newPassword2' tt-field-check-equal="newPassword1"
    placeholder="Confirmação de nova senha" required/>
</div>

<div class="checkbox">
  <label> <input ng-model="$ctrl.showPassword" type="checkbox" ng-click="$ctrl.showHidePassword()">Mostrar senhas</input></label>
</div>

