<form class="form-horizontal" name="changePasswordForm" novalidate>
  <div class="panel panel-primary">
    <tt-header-content title-text="Troca de Senha: {{$ctrl.user.getName()}}" close-function="$ctrl.cancel"></tt-header-content>

  <div class="panel-body">
      <div class="container-fluid">
        
        <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
      <input class="form-control" id="oldPassword" ng-model="$ctrl.oldPassword" type="password" name='oldPassword' placeholder="Senha atual"
        required/>
    </div>
    <div ng-if="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched" class="alert alert-danger">Senha atual é obrigatória</div>

    <hr>

    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input class="form-control" id="newPassword1" ng-model="$ctrl.newPassword1" type="password" name='newPassword1' tt-password-check-good
        placeholder="Nova senha" required/>
    </div>
    <div ng-if="changePasswordForm.newPassword1.$error.url && changePasswordForm.newPassword1.$touched" class="alert alert-danger">Senha nova é obrigatória</div>
    <div ng-if="changePasswordForm.newPassword1.$error.ttpasswordcheckgood && changePasswordForm.newPassword1.$touched" class="alert alert-danger">Nova senha precisa ter 8 (oito) caracteres com números, minúsculas e maiúsculas</div>

    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input class="form-control" id="newPassword2" ng-model="$ctrl.password2" type="password" name='newPassword2' tt-field-check-equal="newPassword1"
        placeholder="Confirmação de nova senha" required/>
    </div>
    <div ng-if="changePasswordForm.newPassword2.$error.ttfieldcheckequal && changePasswordForm.newPassword2.$touched" class="alert alert-danger">Nova senha e confirmação não estão iguais!</div>

    <div class="checkbox">
      <label> <input ng-model="$ctrl.showPassword" type="checkbox" ng-click="$ctrl.showHidePassword()">Mostrar senhas</input></label>
    </div>
  
  </div>
  </div>

  <div class="panel-footer text-right">
      <button class="btn btn-default tt-footer-content-button" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
      <button ng-disabled="changePasswordForm.$invalid" class="btn btn-primary tt-footer-content-button" type="button" ng-click="$ctrl.changePassword()">Alterar Senha</button>
  </div>

</div>
</form>
