<h4>
    Projetos
    <tt-skill-subtitle></tt-skill-subtitle>
  </h4>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Nome</th>
        <th>Pessoas</th>
        <th>Experiências</th>
      </thead>
      <tbody>
        <tr ng-repeat="su in $ctrl.searchUsers">
          <td>{{su.getName()}}</td>
          <td> <div ng-repeat="sk in su.getSearchSkills()"> {{sk.getName()}} <span class="badge">{{sk.getExperienceCount()}}</span></div></td>
          <td> <div ng-repeat="sk in su.getSearchSkills()"> {{sk.getName()}} <span class="badge">{{sk.getProjectCount()}}</span></div></td>
          <td> <div ng-repeat="sk in su.getSearchSkills()"><span ng-class="[badge, $ctrl.getBadgeClassForSkillLevel(sk.getLevel())]">{{sk.getName()}}</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>