


<div class="tt-profile-view">
  <div align="center">
    <img class="thumbnail img-responsive tt-image-thumb-style" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
  </div>
  
  <div class="media-body">
  <div class="tt-text-info">
    <h3 class="subtitle-table-style">{{$ctrl.user.getName()}}</h3>
    <div><span ng-click="$ctrl.openEditProfile()"><a>Editar perfil</a></span></div>
    <div><span ng-click="$ctrl.openChangePassword()"><a>Trocar senha</a></span></div>
    <div><span ng-click="$ctrl.openCloud()"><a>Ver nuvem</a></span></div>
 
    </div>
    <hr>
    <div class="tt-text-info">
    <h4 class="subtitle-table-style">Contatos</h4>
    <div class="">
      <tt-profile-contacts user='$ctrl.user'></tt-profile-contacts>
    </div>
    <br>
    </div>
    
  </div>

</div>
