<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">
      Experiências
      <span class="fa fa-plus-circle text-right" ng-click="$ctrl.addExperience()"></span>
    </h2>
  </div>
  <div class="panel-body">
    <div id="experiences-grid" ui-grid="$ctrl.gridData" class="grid"></div>
  </div>
  <div class="panel-footer">
      <h3 class="panel-title">Legenda dos Níveis de Competências</h3>
      <ul>
      <span class="fa fa-circle tt-text-skill-advanced"></span>&nbsp;Avançado <br>
      <span class="fa fa-circle tt-text-skill-medium"></span>&nbsp;Intermediário <br>
      <span class="fa fa-circle tt-text-skill-basic"></span>&nbsp;Básico
      </ul>
  </div>
</div>
