<div class="container">
  <div class="row">

    <div class="login-absolute-center-small panel panel-body">
      <div class="row">
      <div class="logo-container col-md-offset-1">
        <img src="../assets/images/tecgraf-intro-logo.png"> </img>
      </div>
    </div>
      <div class="body-fields col-sm-12 col-md-10 col-md-offset-1">

        <form name="recoverForm" novalidate>
           <h4 class="title-forms">Recuperação de senha</h4>
          <div class="form-group input-group">
            <span class="input-group-addon addon-color"><i class="fa fa-envelope fa-icon"></i></span>
            <input class="form-control" ng-model="$ctrl.email" tt-email-tecgraf type="email" name='email' placeholder="Email do usuário"
              required/>
          </div>
          <div ng-if="recoverForm.email.$error.ttemailtecgraf && recoverForm.email.$touched" class="alert alert-danger">Somente e-mails com o domínio Tecgraf (@tecgraf.puc-rio.br) podem acessar o sistema!</div>
          <div ng-if="recoverForm.email.$error.email && recoverForm.email.$touched" class="alert alert-danger">Email de entrada inválido!</div>
          <div ng-if="recoverForm.email.$error.required && recoverForm.email.$touched" class="alert alert-danger">Email de entrada não obrigatório!</div>

          <div class="form-group text-center">
            <button ng-disabled="recoverForm.$invalid" type="button" class="btn btn-primary" ng-click="$ctrl.recover()">Recuperar</button>
            <button type="button" class="btn btn-default" ui-sref="public.login">Cancelar</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>
