
<form name="searchForm" novalidate>
    <label for="search">Digite a lista de competências:</label>
    <div class="form-group input-group">
       <span class="input-group-addon"><span class="fa fa-search"></span></span>  
       <tags-input class="tt-bootstrap" ng-model="$ctrl.skills" add-on-paste="true" display-property="_name" add-from-autocomplete-only="true" 
                  replace-spaces-with-dashes="false" placeholder="Adicione competências..."
                  on-tag-removed="$ctrl.update()" on-tag-added="$ctrl.update()">
          <auto-complete source="$ctrl.loadSkills($query)" min-length="0" debounce-delay="0" ></auto-complete>
      </tags-input>
    </div>

    <tt-search-people skills="$ctrl.skills"></tt-search-people>
    <br>
    <tt-search-project skills="$ctrl.skills"></tt-search-project>

</form>

