// ----------------------------------------------------------------------------
// Atributos e cores predefinidas para o sistema
// ----------------------------------------------------------------------------
$tt-primary-color: #8dabb9;
$tt-primary-text-color: #ffffff;
$tt-secondary-color: #385687;
$tt-skill-advanced-color: #f76459;
$tt-skill-medium-color: #FF9800;
$tt-skill-basic-color: #4CAF50;
$tt-skill-validated-color: #009900;
$tt-skill-new-color: #990000;
$tt-widget-color: #989c9e;
$tt-ui-grid-canvas-color:#9E9E9E;
$tt-ui-grid-header-canvas:#19688c;
$tt-navbar-bgcolor: #d5eaf4;
$tt-navbar-active-bgcolor: #03A9F4;
$tt-navbar-active-fgcolor: #ffffff;
$tt-footer-bgcolor: #19688c;
$tt-addon-bgcolor: #337ab7;
$tt-addon-fgcolor: #ffffff;
$tt-subtitle-color:#19688c;
$tt-border-color:#d4d4d4;
$tt-white-color:#fff;
$tt-color-fa-icon:#337ab7;
$tt-title-forms-fgcolor: #068BC8;
$tt-margin: 40px;
$tt-font: 'Open Sans',
sans-serif;
// ----------------------------------------------------------------------------
// Alterações globais de HTML
// ----------------------------------------------------------------------------
*:focus {
  outline: none !important;
}

* {
  font-family: $tt-font;
  box-sizing: border-box
}

body {
  background: url(../assets/images/background.jpg) repeat;
  background-position: top left; // margin: $tt-margin;
  // background: #eeeeee;
}

footer {
  position: fixed;
  bottom: 0px;
  min-width: 100%;
}

textarea {
  resize: vertical;
}

.panel-modal-header {
  border-radius: 0px;
  background: $tt-footer-bgcolor !important;
  border-color: $tt-footer-bgcolor !important;
}

.panel-bar-style {
  border-radius: 0px;
}

// ----------------------------------------------------------------------------
// Alterações do UI-Grid
// ----------------------------------------------------------------------------
.ui-grid-canvas {
  color: $tt-ui-grid-canvas-color;
}

.ui-grid-header-canvas {
  color: $tt-ui-grid-header-canvas;
  font-weight: 400;
}

.grid {
  min-height: 250px;
}

// ----------------------------------------------------------------------------
// Alterações no Bootstrap
// ----------------------------------------------------------------------------
.badge {
  background-color: $tt-primary-color;
  margin: 7px;
}

.navbar-default .navbar-nav>li>a {
  color: $tt-footer-bgcolor;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: #03a9f4 !important;
  color: #fff;
}

.alert {
  padding-top: 2px;
  padding-bottom: 2px;
}

.input-group-addon {
  background: $tt-addon-bgcolor;
  color: $tt-addon-fgcolor;
}

// ----------------------------------------------------------------------------
// Alterações no Toastr
// ----------------------------------------------------------------------------
.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;
}

// ----------------------------------------------------------------------------
// ngTagsInput
// ----------------------------------------------------------------------------
tags-input .tags .tag-item {
  @extend .tt-tags-and-badges;
}

tags-input .tags .tag-item .input {
  margin: 0px 0px;
}

tags-input .tags .tag-item .remove-button {
  color: $tt-primary-text-color;
}

// ----------------------------------------------------------------------------
// Classes do próprio sistema
// ----------------------------------------------------------------------------
.tt-subtitle-table-style {
  color: $tt-subtitle-color;
}

.tt-mouse-pointer {
  cursor: pointer;
}

.tt-table {
  height: 296px;
  overflow-y: auto;
}

.tt-loading-indicator {
  display: block;
  width: 70px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  z-index: 100;
  background-color: #FFF;
}

.tt-loading-indicator img {
  width: 70px;
  background-color: #FFF;
}

.tt-cloud {
  width: 80%
}

.tt-main-page {
  background: #ffffff;
  min-height: 1000px;
}

.tt-footer {
  background: $tt-footer-bgcolor;
  height: 34px;
  padding-top: 7px;
  color: $tt-white-color;
}

.tt-navbar {
  background: $tt-navbar-bgcolor;
  border-color: $tt-navbar-bgcolor;
  border-radius: 0px;
}

.tt-levels-subtitle {
  float: right;
  font-size: 0.7em;
  margin: 10px 2px 5px 3px;
}

.tt-tecgraf-logo-img {
  background: url('../assets/images/tecgraf.png') no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 70px;
  margin: 0px 0px 0px 0px;
}

.tt-tecgraf-logo-img-mini {
  @extend .tt-tecgraf-logo-img;
  background: url('../assets/images/tecgraf-50-50.png') no-repeat;
  background-size: 30px 30px; // width: 30px;
  // height: 30px;
}

tt-profile-resume {
  h1 {
    font-size: 2.0rem;
    color: $tt-primary-color;
    display: inline;
  }
}

.tt-active-color {
  background: red;
  color: $tt-white-color;
}

.tt-text-info {
  margin-left: 20px;
}

.tt-image-thumb-style {
  margin-top: 20px;
}

.tt-color-icon {
  color: $tt-color-fa-icon;
}

a {
  color: $tt-color-fa-icon;
}

.tt-primary-text {
  color: $tt-primary-text-color;
}

.tt-tags-and-badges {
  display: inline-block;
  min-width: 10px;
  padding: 3px 10px;
  font-weight: normal;
  margin: 0px 3px 0px 1px; // line-height: 1;
  color: $tt-primary-text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $tt-primary-color;
  background: $tt-primary-color;
  border-radius: 4px;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
}

.tt-bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tt-bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.tt-badge {
  @extend .tt-tags-and-badges;
  border-radius: 0px;
  margin: 4px;
}

.tt-text {
  font-size: 1em;
  font-weight: normal;
}

.tt-badge-skill-validated {
  @extend .tt-badge;
  background-color: $tt-skill-validated-color;
}

.tt-badge-skill-new {
  @extend .tt-badge;
  background-color: $tt-skill-new-color;
}

.tt-badge-primary {
  @extend .tt-badge;
  background-color: $tt-primary-color;
}

.tt-badge-skill-advanced {
  @extend .tt-badge;
  background-color: $tt-skill-advanced-color;
}

.tt-badge-skill-medium {
  @extend .tt-badge;
  background-color: $tt-skill-medium-color;
}

.tt-badge-skill-basic {
  @extend .tt-badge;
  background-color: $tt-skill-basic-color;
}

.tt-text-primary {
  @extend .tt-text;
  color: $tt-primary-color;
}

.tt-text-skill-advanced {
  @extend .tt-text;
  color: $tt-skill-advanced-color;
}

.tt-text-skill-medium {
  @extend .tt-text;
  color: $tt-skill-medium-color;
}

.tt-text-skill-basic {
  @extend .tt-text;
  color: $tt-skill-basic-color;
}

span.tt-fa-widget {
  margin-left: 3px;
  color: $tt-widget-color;
  cursor: pointer;
}

span.tt-fa-button {
  margin-right: 5px;
}

.tt-logo-container {
  margin-top: 30px;
}

.tt-login-absolute-center-large {
  margin: auto;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%; // height: 90%;
  min-width: 320px; // max-width: 1000px;
  padding: 30px;
}

.tt-login-absolute-center-small {
  @extend .tt-login-absolute-center-large;
  top: 15%;
  left: 15%;
  width: 70%; // height: 70%;
  padding: 40px;
}

.tt-header-close-button {
  font-size: 1.5em;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
  color: $tt-primary-text-color;
}

.tt-footer-content-button {
  margin-left: 10px;
}

.tt-title-forms {
  color: $tt-title-forms-fgcolor
}
