$tt-primary-color: #8dabb9;
$tt-primary-text-color: #ffffff;
$tt-secondary-color: #385687;
$tt-skill-advanced-color: #f76459;
$tt-skill-medium-color: #FF9800;
$tt-skill-basic-color: #4CAF50;
$tt-skill-validated-color: #009900;
$tt-skill-new-color: #990000;
$tt-widget-color: #989c9e;
$tt-margin: 40px;
$tt-ui-grid-canvas-color:#9E9E9E;
$tt-ui-grid-header-canvas:#02a8f3;
$tt-footer:#0da8f3;
$tt-subtitle-color:#8dabb9;
*:focus {
  outline: none !important;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box
}

.ui-grid-canvas {
  color: $tt-ui-grid-canvas-color;
}

.ui-grid-header-canvas {
  color: $tt-ui-grid-header-canvas;
  font-weight: 400;
}

.badge {
  background-color: $tt-primary-color;
  margin: 7px;
}

body {
  // background: url(../assets/images/background.jpg) repeat;
  // background-position: top left;
  // margin: $tt-margin; 
}

.nav-bar-style {
  background: #d5eaf4;
  border-radius: 0px;
  border-color: #d5eaf4;
}

.navbar-default .navbar-nav>.active>a {
  background: #02a8f3!important;
  color: #fff;
}

.subtitle-table-style{
  color:$tt-subtitle-color;
  font-weight:400;
}

.form-skill-style{
  padding: 0px 0px 40px 0px;
}


.tt-text-info{
  margin: 10px 10px 10px 30px;
}

/*Panel*/

.panel-style-header {
  background: #02a8f3 !important;
  border-color: #02a8f3 !important;
}

.panel-style-body {
  border-radius: 0px;
  border-color: #e6e6e6;
}

.perfil-view{
  border: 1px solid #d4d4d4;
}

.image-thumb-style{
  margin-top:30px;
}

.panel-bar-style{
  border-radius:0px;
}

/*fim*/

.subtitle-levels-style {
  float: right;
  font-size: 0.7em;
  margin: 10px 2px 5px 3px;
}

header {
  margin-top: 20px;
  min-height: 90px;
}

footer {
  margin-bottom: $tt-margin;
}

.tecgraf-logo-img {
  background: url('../assets/images/tecgraf.png') no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 70px;
  margin: 0px 0px 0px 0px;
}

.tecgraf-logo-img-mini {
  @extend .tecgraf-logo-img;
  background: url('../assets/images/tecgraf-50-50.png') no-repeat;
  background-size: 30px 30px; // width: 30px;
  // height: 30px;
}

tt-profile-resume {
  h1 {
    font-size: 2.0rem;
    color: $tt-primary-color;
    display: inline;
  }
}

.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;
}

.tt-primary-text {
  color: $tt-primary-text-color;
}

.tt-tags-and-badges {
  display: inline-block;
  min-width: 10px;
  padding: 3px 10px;
  font-weight: normal;
  margin: 0px 3px 0px 1px; // line-height: 1;
  color: $tt-primary-text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $tt-primary-color;
  background: $tt-primary-color;
  border-radius: 4px;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
}

.tt-bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tt-bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.tt-badge {
  @extend .tt-tags-and-badges;
}

tags-input .tags .tag-item {
  @extend .tt-tags-and-badges;
}

tags-input .tags .tag-item .input {
  margin: 0px 0px;
}

tags-input .tags .tag-item .remove-button {
  color: $tt-primary-text-color;
}

.tt-text {
  font-size: 1em;
  font-weight: normal;
}

.tt-badge-skill-validated {
  @extend .tt-badge;
  background-color: $tt-skill-validated-color;
}

.tt-badge-skill-new {
  @extend .tt-badge;
  background-color: $tt-skill-new-color;
}

.tt-badge-primary {
  @extend .tt-badge;
  background-color: $tt-primary-color;
  border-radius: 0px;
  margin: 4px;
}

.tt-badge-skill-advanced {
  @extend .tt-badge;
  background-color: $tt-skill-advanced-color;
  border-radius: 0px;
  margin-top: 4px;
}

.tt-badge-skill-medium {
  @extend .tt-badge;
  background-color: $tt-skill-medium-color;
  border-radius: 0px;
  margin-top: 4px;
}

.tt-badge-skill-basic {
  @extend .tt-badge;
  background-color: $tt-skill-basic-color;
  border-radius: 0px;
  margin-top: 4px;
}

.tt-text-primary {
  @extend .tt-text;
  color: $tt-primary-color;
}

.tt-text-skill-advanced {
  @extend .tt-text;
  color: $tt-skill-advanced-color;
}

.tt-text-skill-medium {
  @extend .tt-text;
  color: $tt-skill-medium-color;
}

.tt-text-skill-basic {
  @extend .tt-text;
  color: $tt-skill-basic-color;
}

span.tt-fa-widget {
  margin-left: 10px;
  color: $tt-widget-color;
}

.logo-container {
  margin-top: 30px;
}

.body-fields {
  padding: 30px 10px 10px 10px;
}

.login-absolute-center-large {
  margin: auto;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%; // height: 90%;
  min-width: 320px; // max-width: 1000px;
  padding: 30px;
}

.fa-icon {
  color: #fff;
}

.addon-color {
  background: #266399;
}

.login-absolute-center-small {
  @extend .login-absolute-center-large;
  top: 15%;
  left: 15%;
  width: 70%; // height: 70%;
  padding: 40px;
}

.grid {
  max-height: 200px;
}

.btn-info.active,
.btn-info:active {
  background-color: $tt-primary-color;
  border-color: $tt-primary-color;
  color: $tt-primary-text-color;
}

.panel-style {
  margin-top: 30px;
  border-color: #e6e6e6;
  border-radius: 0px;
}

textarea {
  resize: vertical;
}

.tt-header-close-button {
  font-size: 1.5em;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
  color: $tt-primary-text-color;
}

.tt-footer-content-button {
  margin-left: 10px;
}

.tt-footer{
  background:$tt-footer;
  color:#fff;
}

.alert {
  padding-top: 2px;
  padding-bottom: 2px;
}

.title-forms {
  color: #8a8a88;
}
