<form class="form-horizontal" name="editProfileForm" novalidate>

  <tt-header-content title-text="Edição de Perfil: {{$ctrl.user.getName()}}" options="$ctrl.options" close-function="$ctrl.cancel"></tt-header-content>

  <div class="panel-body">

    <div class="form-group  input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <input ng-model="$ctrl.email" type="email" class="form-control" name="email" required readonly>
    </div>

    <div class="form-group  input-group">
      <span class="input-group-addon"><i class="fa fa-tag"></i></span>
      <input ng-model="$ctrl.name" type="text" class="form-control" name="name" placeholder="Nome" required>
    </div>
    <div ng-if="editProfileForm.name.$error.required && editProfileForm.name.$touched" class="alert alert-danger">O campo nome é obrigatório</div>


    <div class="form-group  input-group">
      <span class="input-group-addon"><i class="fa fa-university"></i></span>
      <input ng-model="$ctrl.lattes" type="url" class="form-control" placeholder="Lattes (URL)" name="lattes">
    </div>
    <div ng-if="editProfileForm.lattes.$error.url && editProfileForm.lattes.$touched" class="alert alert-danger">URL inválida para Lattes</div>

    <div class="form-group  input-group">
      <span class="input-group-addon"><i class="fa fa-linkedin-square"></i></span>
      <input ng-model="$ctrl.linkedin" type="url" class="form-control" placeholder="LinkedIn (URL)" name="linkedin">
    </div>
    <div ng-if="editProfileForm.linkedin.$error.url && editProfileForm.linkedin.$touched" class="alert alert-danger">URL inválida para LinkedIn</div>

  </div>

  <div class="panel-footer text-right">
      <button class="btn btn-default tt-popup-content-button" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
      <button ng-disabled="editProfileForm.$invalid" class="btn btn-primary tt-popup-content-button" type="button" ng-click="$ctrl.updateUser()">Alterar Perfil</button>
  </div>
  
</form>
