<form class="form-horizontal" name="editProfileForm" novalidate>

<tt-popup-content title-text="Edição de Perfil: {{$ctrl.user.getName()}}" options="$ctrl.options" close-function="$ctrl.cancel">


      <!-- <div class="container-fluid"> -->

        <div class="form-group  input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input ng-model="$ctrl.email" type="email" class="form-control" name="email" required readonly>
        </div>

        <div class="form-group  input-group">
          <span class="input-group-addon"><i class="fa fa-tag"></i></span>
          <input ng-model="$ctrl.name" type="text" class="form-control" name="name" placeholder="Nome" required>
        </div>


        <div class="form-group  input-group">
          <span class="input-group-addon"><i class="fa fa-university"></i></span>
          <input ng-model="$ctrl.lattes" type="url" class="form-control" placeholder="Lattes (URL)" name="lattes">
        </div>

        <div class="form-group  input-group">
          <span class="input-group-addon"><i class="fa fa-linkedin-square"></i></span>
          <input ng-model="$ctrl.linkedin" type="url" class="form-control" placeholder="LinkedIn (URL)" name="linkedin">
        </div>

        <div class="container-fluid">
          <div ng-if="editProfileForm.name.$error.required && editProfileForm.name.$touched" class="alert alert-warning">O campo nome é obrigatório</div>
          <div ng-if="editProfileForm.lattes.$error.url && editProfileForm.lattes.$touched" class="alert alert-warning">URL inválida para Lattes</div>
          <div ng-if="editProfileForm.linkedin.$error.url && editProfileForm.linkedin.$touched" class="alert alert-warning">URL inválida para LinkedIn</div>
        </div>

      <!-- </div> -->

  </tt-popup-content>
</form>
